* {
    background-color: rgba(0, 128, 0, 0.205);
}

h1, h2, h3 {
    color: whitesmoke;
    background-color: grey;
}

span {
    color: black;
}

#list2 {
    color: black;
}

.mark {
background-color: whitesmoke;
}